:root {
    --iris: #4D5AE5;
    --white: #FFFFFF;
    --navy: #2E2F42;
    --slate: #434455;
    --cloud: #F4F4FD;
    --ocean: #404BBF;
    --lightslate: #8E8F99;
    --grey: #2e2f42;
    --cornflower: #E7E9FC;
}

/*GENERAL STYLING*/
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.list {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*END OF GENERAL STYLING*/

/*HEADER AND FOOTER STYLING*/
.bg-dark {
    background-color: var(--navy);
}

.d-flex{
    display: flex;
}

.logo {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logoweb {
    color: var(--iris);
}

.link {
    text-decoration: none;
}

/*END OF HEADER AND FOOTER STYLING*/

/*HEADER STYLING*/
.header .d-flex {
    align-items: center;
}

.header .list {
    gap:40px
}

.header-container {
    display: flex;
    align-items: center;
}

.logostudio {
    color: var(--navy);
}

.logo {
    margin-right: 76px;
}

.link {
    text-decoration: none;
}

.nav-link {
    color: var(--navy);
    font-weight: 500;
    line-height: 1.5;/* 150% */
    letter-spacing: 0.32px;
}

.link:hover,
.link:focus {
    color: var(--ocean);
}

.active {
    color: var(--ocean);
}

.active::after {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--iris);
    position: relative;
    top: 16px;
}

.list-contacts {
    margin-left: auto;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-self: space-around;
    gap: 40px;
}

.contacts {
    color: var(--slate);
    line-height: 1.5;
    letter-spacing: 0.32px;
    font-size: 16px;
}

.topline-flex {
    display: flex;
    align-items: center;
    gap: 40px;
}

.topline-link {
    display: flex;
    gap: 40px;
}

/*END OF HEADER STYLING*/

/**HUMBURGER STYLING**/
.desktop-contacts {
    margin-left:auto;
    padding-left: 0;
    list-style-type: none;
}

.mobile-nav-contact {
    color: var(--iris);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;/* 111.111% */
    letter-spacing: 0.72px;
    text-decoration: none;
}

.list-mobile-contacts {
    padding-bottom: 40px;
}
.mobile-contacts{
    padding-bottom: 40px ;
}

.active-mobile {
    color: var(--ocean);
}

.mobile-nav-mail {
    color: var(--slate);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;/* 120% */
    letter-spacing: 0.4px;
    text-decoration: none;
}

.mobile-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
}

.mobile-menu-container {
    position: relative;
    height: 100%;
    padding: 40px;
}

.mobile-navbar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.mobile-menu {
    width: 100vh;
    height: 100%;
    display: none;
    position: relative;
}

.mobile-menu-navbar {
    color: var(--navy);
    list-style: none;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;/* 111.111% */
    letter-spacing: 0.72px;
    text-decoration: none;
    padding-bottom: 30px;
}

.mobile-social-icons {
    display: inline-flex;
    align-items: flex-start;
    gap: 56px;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 40px;
}

.mobile-nav-menu {
    list-style: none;
    text-decoration: none;
}

.mobile-menu-navbar {
    gap: 40px;
}

.js-close-menu {
    position: absolute;
}
/**END OF HUMBURGER STYLING**/

/*HERO SECTION STYLING*/
.hero {
    background: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url(../images/people.ofice1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-text {
    color: var(--white);
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;/* 107.143% */
    letter-spacing: 1.12px;
    text-transform: capitalize;

}

.hero-button {
    background: var(--iris);
    border: none;
    border-radius: 4px;
    color: var(--white);
    padding: 16px 32px;
    text-align: center;
}

.hero-button:hover {
    cursor: pointer;
    background: var(--ocean);
}

.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position:fixed;
    top: 0;
    display: flex;
    align-items: center;
    transition: opacity 250ms cubic-bezier(0.4,0,0.2.1);
}
/*END OF HERO SECTION STYLING*/

/*MODAL STYLING SECTION*/
.modal {
    width: 408px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 4px;
    position: relative;
    padding: 24px;
}

.is-hidden {
    pointer-events: none;
    opacity: 0;
}

.modal-close-button,
.js-close-menu {
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--cornflower);
    width: 30px;
    height: 30px;
    color: var(--ocean);
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2.1), border 250ms cubic-bezier(0.4, 0, 0, 0.2, 1) ;
    cursor: pointer;
}

.modal-close-button:hover {
    fill: currentColor;
    border: 1px solid currentColor;
}

.modal-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;/* 150% */
    letter-spacing: 0.32px;
    color: var(--navy);
}

.modal-service-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
    position: relative;
}

.input-label{
    text-align: left;
    margin-bottom: 8px;
}

.modal-service-icon {
    position: absolute;
    top: 55%;
    left: 15px;
    fill: var(--navy);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2.1);
}

.modal-service-input:focus +.modal-service-icon,
.modal-service-input:hover +.modal-service-icon {
    fill: var(--iris);
}

.modal-service-input:hover {
    border: 1px solid var(--iris);
}
.modal-service-input{
    padding: 12px 40px;
    border: 1px solid #2E2F42;
    border-radius: 4px;
    transition: 250MS;
    transition-property: color, border-color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-label-textarea {
    border: 1px solid #2E2F42;
    border-radius: 4px;
    transition: 250ms;
    transition-property: color, border-color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 16px;
}

.input-label-textarea:focus,
.input-label-textarea:hover {
    fill: var(--iris)
}

.input-label-textarea:hover {
    border: 1px solid var(--iris);
}

.agree-text {
    font-size: 12px;
    margin:8px
}

.service-agree {
    display: flex;
    align-items: center;
}

.service-agree .agree-checkbox:focus + .check-icon,
.service-agree .agree-checkbox:checked:focus + .check-icon {
   outline: 2px solid var(--navy);
}

.service-agree .agree-checkbox:checked + .check-icon {
    background-color: var(--iris);
    border-color: var(--iris);
    fill: white;
    outline: none;
    stroke: white;
    stroke-width: 0.2;
}

.agree-checkbox {
    width: 20px;
    height: 20px;
    position: relative;
    left: 23px;
    opacity: 0;
}

.check-icon {
    fill: none;
    border: 2px solid var(--navy);
    border-radius: 2px;
    transition: 250ms;
    transition-property: border-color, background-color, fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send {
    margin-top: 15px;
    padding: 16px 32px;
    background-color: var(--iris);
    color: white;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-color: transparent;
}

.modal-send:hover {
    cursor: pointer;
}
/*END OF MODAL STYLING SECTION*/

/*Main Styling*/
.main-title {
    color: var(--navy);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 2.5;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

/*ABOUT SECTION STYLING*/
.about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-icon {
    padding: 24px 100px;
    text-align: center;
    background-color: var(--cloud);
}
/*END OF ABOUT SECTION STYLING*/

/*TEAM SECTION STYLING*/
.our-team {
    background-color: var(--cloud);
}

.our-team img {
    display: block;
    width: 100%
}

.our-teams-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-text {
    color: var(--navy);
    font-size: 16px;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

.h-title {
    color: var(--navy);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;/* 120% */
    letter-spacing: 0.4px;
    margin-top: 0px;
}

.team-title {
    background-color: var(--white);
    text-align: center;
    margin-top: 0px;
    padding: 32px 0px;
}

.team-title-socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.team-title-socials-icons,
.mobile-nav-socials-icons {
    background-color: var(--iris);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--white);
    
}
/*END OF TEAM SECTION STYLING*/
/*END OF MAIN STYLING*/

/*CUSTOMERS STYLING*/
.customers-icons {
    border: 1px solid;
    color:var(--lightslate);
    padding: 16px 0;
    flex-basis: calc(100% / 2 - 24px);
    text-align: center;
    border-radius: 4px;
}

.customers-icons svg {
    fill: var(--lightslate);
}

.customers-icons:hover, 
.customers-icons:focus {
    border-color: var(--iris);
}

.customers-icons:hover svg, 
.customers-icons:focus svg {
    fill: var(--iris);
}
/*END OF CUSTOMERS STYLING*/

/*FOOTER STYLNG*/
.logostudio-footer {
    color: var(--cloud);
}

.footer {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    }

.footer .logo {
    margin-right: 0;
}

.footer-logo-text {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 72px;
}

.footer-text {
    color: var(--cloud);
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.background {
    background: var(--navy);
}

/**FOOTER SOCIAL STYLING**/
.socialmedia, 
.subscribe-text {
    margin-top: 0;
    color: white;
}

.footer .team-title-socials-icons {
    margin-right: 10px;
}

.footer-input-sub {
    border: 2px solid white;
    background: none;
    border-radius: 4px;
    padding: 10px;
    width: webkit-fill-available;
    background-color: none;
    margin-bottom: 24px;
}

.footer-input-sub::placeholder {
    color: white
}


.button-subscribed {
    display: inline-flex;
    align-items: center;
    color: white;
    padding: 8px 24px;
    gap: 16px;
    background-color: var(--iris);
    border: none;
    border-radius: 4px;
}

.button-subscribed svg {
    fill: white;
}
/*END OF FOOTER STYLNG*/

/**CSS MEDIA QUERY**/
@media (min-width: 428px) {
    .container {width: 480px;
    }

    .footer-text {
        text-align: left;
    }
}

@media (min-width: 768px) {
    .mobile-nav,
    .js-close-menu {
        display: none;
    }

    .container {width: 768px;
    }

    .list-about,
    .list-team {
        flex-basis: calc(100% / 2 - 24px);
    }

    .customers-icons {
        flex-basis: calc(100% / 3 - 30px);
    }

    .footer {
        text-align: center;
    }

    .footer-logo {
        text-align: center;
    }

    .footer-input-sub {
        width: 264px;
        margin-right: 24px;
    }

    .footer-menu {
        text-align: left;
    }
}

@media (min-width: 1158px) {
    .desktop-contacts {
        display: flex;
        column-gap: 30px;
    }

    .container {width: 1158px;
    }

    .list-about, 
    .list-team {
        flex-basis: calc(100% / 4 - 24px);
    }

    .customers-icons {
        flex-basis: calc(100% / 6 - 30px);
    }

    .footer-menu {
        text-align: left;
    }
}

@media (max-width: 767px) {
    .desktop-nav {
        display: none;
    }

    .mobile-menu.is-open {
        transform: translateX(0);
    }

    .js-close-menu {
        position: absolute;
        top: 10px;
        right: 25px;
    }

    .mobile-menu {
        top: 0;
        display: block;
        height: 100vh;
        width: 100vh;
        position: fixed;
        background-color: white;
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .about-icon {
        display: none;
    }

    .list-about .h-title {
        font-size: 36px;
        margin-bottom: 8px;
    }

    .list-about .p-text {
        margin-top: 0;
    }

    .what-we-do {
        display: none;
    }

    .footer-logo-text {
        justify-content: center;
    }

    .footer {
        text-align: center;
    }
}

@media (max-width: 428px) {
    .hero-text {
        font-size: 36px;
        letter-spacing: 0.72px;
        line-height: 1.11;
    }

    .list-about .h-title {
        text-align: center;
    }
}

    